<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204613570133-gpl1f19av79i36l64da5nl6uv6b9dcgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204613570133-gpl1f19av79i36l64da5nl6uv6b9dcgt</string>
	<key>API_KEY</key>
	<string>AIzaSyCBswtc1gAR28tJpyzmmHlsx5rjvONQjhk</string>
	<key>GCM_SENDER_ID</key>
	<string>204613570133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyondconnect.alpha.uoslife</string>
	<key>PROJECT_ID</key>
	<string>uoslife-app-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>uoslife-app-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204613570133:ios:36a7e0c3e8eed7a79a0edc</string>
</dict>
</plist>